<div class="container">
  <h1 class="home-title">アサカラにようこそ</h1>
  <p class="home-subtitle">ここでは同じ目標を持った人と、朝活ができます！</p>
</div>

<p><%= link_to 'ルームにjoinしましょう！', rooms_path %></p>


<%#
  <% if current_user %>
   <%# <%= form_for(current_user.rooms.build) do |f| %>
      <%# <%= f.label :"room登録" %>
     <%# <%= f.text_field :name, placeholder: "Room Name" %>
      <%#<%= f.submit "Registration" %>
    <%# <% end %>
  <%#<% end %>
