<div class="background-image"></div>
<div class="home-body">
  <h1 class="home-title">アサカラにようこそ</h1>
  <p class="home-subtitle">ここでは同じ目標を持った人と、朝活ができます！</p>
  <p class="button-home"><%= link_to 'ルームにjoinしましょう！', rooms_path, class: "btn btn-success" %></p>
</div>

<%#
  <% if current_user %>
   <%# <%= form_for(current_user.rooms.build) do |f| %>
      <%# <%= f.label :"room登録" %>
     <%# <%= f.text_field :name, placeholder: "Room Name" %>
      <%#<%= f.submit "Registration" %>
    <%# <% end %>
  <%#<% end %>
