<h1>
  <%= @room.title %>
</h1>
<p>
  <%= @room.detail %>
</p>

<ul>
  <p>メンバー</p>
  <% @room.groups.each do |room_user| %>
  <li><%= room_user.user.name %></li>
  <% end %>
</ul>

<p><%= link_to '戻る', rooms_path %></p>
<p><%= link_to '削除', @room, method: :delete, data: { confirm: "タスク「#{@room.title}」を削除してもよろしいですか？"}, class: 'btn btn-danger' %></p>